<h1>Welcome to our website!</h1>

<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac
facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Etiam porta sem
malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
dui. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

<p>Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel
scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl
consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus
magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod
semper.</p>

<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Cras
mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Sed posuere
consectetur est at lobortis.</p>

<br />

<div class="row  sb-participate">
  <h2>Participate in Startup Bus 2014's Game</h2>
  <div class="col-sm-6">
    <div class="well">
      <h3>I want to be a Fantasty Investor</h3>
      1. Sign up with <a href="#">Twitter</a> or <a href="#">Facebook</a>

      <br />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <h3>I'm a 2014 Busprenuer</h3>

      1. <a href="#">Verify your status as a Busprenuer</a>
      <br />
    </div>
  </div>
</div>
