// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert
	margin-top: 10px

.component-box
	background-color: white
	padding: $sb-gutter
	margin-top: $sb-gutter

	h2 
		margin-top: 0px