
// LAYOUT
// -----------------
.container
	max-width: 990px


// DEFAULTS
// -----------------
body
	background-color: $gray-lighter

nav 
	color: lighten($red, 25%)
	background-color: $red
	a 
		color: #FFF
		text-decoration: none
		padding: 15px 0
		&:hover
			color: #D1D1D1
			text-decoration: none

	.navbar-header .navbar-text 
		text-transform: uppercase
		color: lighten($red, 20%)
		font-size: 0.8em
		padding-top: 3px
	.navbar-right
		.navbar-text
			float: none
			display: inline-block
		.btn
			margin-top: 8px


// BUTTONS
// -----------------
.btn-facebook 
	background-color: $facebookBlue
	border: 1px solid darken($facebookBlue, 10%)
	color: white
	i
		margin-right: 6px

