<div class="component-box">
  <div class="row">
    <div class="col-sm-8">
      <h2>North American Buses</h2>
    </div>
    <div class="col-sm-4">
      <%= link_to 'New Bus', new_bus_path %>
    </div>
  </div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ranking</th>
    </tr>
  </thead>

  <tbody>
    <% @buses.each do |bus| %>
      <tr>
        <td><%= bus.name %></td>
        <td><%= bus.ranking %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div></div>